# Example DB Password
DB_PASSWORD=Test-Example-P@ssword!

# Example JWT Secret Key 32 Characters
JWT_SECRET_KEY=Example-JWT-Key-32CharactersLong

# Google OAuth Secrets
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=